<?php echo $this->partial('common/menu.phtml');?>
<div class="row">
<div class="span12">
<?php if ( count($this->books) == 0 ) {?>
	<h2><?php echo $this->translate('library.empty'); ?></h2>
<?php } else { ?>
	<h2>Liste des livres</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th class="sortable"><a href="" >Title </a><i class=" icon-chevron-down"></i></th>
				<th>Genre</th>
				<th>Author(s)</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		<?php foreach ($this->books as $book) { ?>
			<tr>
				<td>#<?php echo $book['id']; ?></td>
				<td><a href="<?= $this->url(array('module'=>'default', 'controller' => 'standard', 'action'=>'view', 'what'=>'book', 'id'=>$book['id']), 'default', true);?>"><?php echo $book['title']; ?></a></td>
				<td><?php echo $book['genre']['label']; ?></td>
				<td>
					<?php if( count($book['authors']) == 0 ) {?>
						--
					<?php } else {?>
						<?php foreach( $book['authors'] as $aut ) {?>
							<?php echo $aut['surname']; ?> <?php echo $aut['name']; ?>  
						<?php }?>
					<?php }?>
				</td>
				<td>
					<a class="btn btn-primary" href="<?= $this->url(array('module'=>'default', 'controller' => 'standard', 'action'=>'edit', 'what'=>'book', 'id'=>$book['id']), 'default', true);?>" ><i class="icon-edit icon-white"></i> Edit</a>
					<a class="btn btn-danger" href="<?= $this->url(array('module'=>'default', 'controller' => 'standard', 'action'=>'delete', 'what'=>'book', 'id'=>$book['id']), 'default', true);?>" ><i class="icon-trash icon-white"></i> Delete</a>
				</td>
			</tr>
		<?php } ?>
		</tbody>
	</table>
<?php }?>
</div>
</div>