<?php echo $this->partial('common/menu.phtml');?>
<h2>Liste de </h2>
<div class="row">
	<div class="span12">
		<?php if( count($this->datas) == 0 ) {?>
			<h2>La liste est vide ...</h2>
		<?php } else { ?>
			<table class="table table-striped">
				<thead>
					<tr>
						<?php foreach ( array_keys($this->datas[0]) as $k ) {?>
							<th><?php echo $k; ?></th>
						<?php }?>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ( $this->datas as $v) {?>
						<tr>
							<?php foreach (array_keys($v) as $key ) {?>
								<td><?php echo $v[$key]; ?></td>
							<?php }?>
							<td>
								<a class="btn btn-primary" href="<?= $this->url(array('module'=>'default', 'controller' => 'standard', 'action'=>'edit', 'what'=>$this->what, 'id'=>$v['id']), 'default', true);?>" ><i class="icon-edit icon-white"></i> Edit</a>
								<a class="btn btn-danger" href="<?= $this->url(array('module'=>'default', 'controller' => 'standard', 'action'=>'delete', 'what'=>$this->what, 'id'=>$v['id']), 'default', true);?>" ><i class="icon-trash icon-white"></i> Delete</a>
							</td>
						</tr>
					<?php }?>
				</tbody>
			</table>
		<?php } ?>
	</div>
</div>