<div class="row">
	<div class="span12">
		<?php echo $this->translate('site.description.home'); ?>
	</div>
</div>
<?php if ( count($this->tools) == 0 ) { ?>
	<h3>Pas de démos installés</h3>
<?php } else { ?>
<div class="row">
	<div class="span12">
		<h2><?php echo $this->translate('implementations.list.title'); ?></h2>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<?php foreach( $this->tools as $tool) { ?>
			<li class="span4">
				<div class="thumbnail">
					<img src="http://placehold.it/260x180" title="<?= $tool->name ?>" />
					<div class="caption">
						<h5><?= $tool->name ?></h5>
						<p> 
							<?php foreach ($tool->framework as $fwk) { ?>
							<?php echo $fwk["name"]. ' - ' .$fwk["version"].'<br />'; ?>
							<?php }?>
						</p>
						<p>
							<?= $tool->description ?>
						</p>
						<p>
							<a class="btn btn-primary" href=""><?php echo $this->translate('view.demo');?></a>
							<a class="btn btn-success" href=""><?php echo $this->translate('view.documentation');?></a>
						</p>			
					</div>
				</div>
			</li>
			<?php } ?>
		</ul>
	</div>
</div>
<?php } ?>