<div class="row">
	<div class="span12"><h1><?php echo $this->translate('library');?></h1></div>
</div>
<div class="row">
	<div class="span12" id="actions-menu">
		<a id="add-book" class="btn btn-<?php echo $this->selectedAction('add-book');?> span3 offset1" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'add', 'what'=>'book'), 'default', true); ?>"><i class="icon-book icon-white"></i> <?php echo $this->translate('library.add.book'); ?></a>
		<a id="add-author" class="btn btn-<?php echo $this->selectedAction('add-author');?> span3" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'add', 'what'=>'author'), 'default', true); ?>"><i class="icon-user icon-white"></i> <?php echo $this->translate('library.add.author'); ?></a>
		<a id="add-genre" class="btn btn-<?php echo $this->selectedAction('add-genre');?> span3" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'add', 'what'=>'genre'), 'default', true); ?>"><i class="icon-flag icon-white"></i> <?php echo $this->translate('library.add.genre'); ?></a>
		<a id="list-book" class="btn btn-<?php echo $this->selectedAction('list-book');?> span3 offset1" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'list', 'what'=>'book'), 'default', true); ?>"><i class="icon-list icon-white"></i> <?php echo $this->translate('library.list.book'); ?></a>
		<a id="list-author" class="btn btn-<?php echo $this->selectedAction('list-author');?> span3" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'list', 'what'=>'author'), 'default', true); ?>"><i class="icon-list icon-white"></i> <?php echo $this->translate('library.list.author'); ?></a>
		<a id="list-genre" class="btn btn-<?php echo $this->selectedAction('list-genre');?> span3" href="<?php echo $this->url(array('module'=>'default','controller'=>'standard','action'=>'list', 'what'=>'genre'), 'default', true); ?>"><i class="icon-list icon-white"></i> <?php echo $this->translate('library.list.genre'); ?></a>
	</div>
</div>