<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<?php foreach( $this->tools as $tool) { ?>
			<li class="span4">
				<div class="thumbnail">
					<img src="http://placehold.it/260x180" title="<?= $tool->name ?>" />
					<div class="caption">
						<h5><?= $tool->name ?></h5>
						<p> 
							<?php
								$array = array('name' => $tool->name); 
								foreach ($tool->framework as $fwk) {
									echo $fwk["name"]. ' - ' .$fwk["version"].'<br />';
									$array[$fwk["name"]]=$fwk["version"];
								}
							?>
						</p>
						<p>
							<?= $tool->description ?>
						</p>
						<p>
							<a class="btn btn-primary" href="<?php echo $this->url($array, 'demos', true);?>"><?php echo $this->translate('view.demo');?></a>
							<a class="btn btn-success" href="<?php echo $this->url(array('module'=>"documentation", 'action'=>'index', 'controller' => 'index'), 'default', true);?>"><?php echo $this->translate('view.documentation');?></a>
						</p>			
					</div>
				</div>
			</li>
			<?php } ?>
		</ul>
	</div>
</div>