<h1>API Documentation</h1>
<h2>RESTFull Api</h2>
<p>Limitations : Il faut que ce soit sur le meme domaine ! pas de possibilité (en v1) de s'enregistrer pour obtenir une clé d'utilisation ...</p>
<h2>JSON(p) Api</h2>
<pre class="prettyprint span4">
&lt;pre class="prettyprint"&gt;
	...
&lt;/pre&gt;
</pre>