<div class="row">
	<div class="span12">
		<h2>Todo List</h2>
	</div>
</div>
<div class="row">
	<div class="span12">
		<ol>
			<li>Prendre en compte la gestion des images de la librairie</li>
		</ol>
	</div>
</div>