<?php echo $this->doctype('HTML5'); ?>

<html>
<head>
<META http-equiv="Content-Type" Content="text/html; charset=UTF-8">
<?php echo $this->headTitle(); ?>

<?php echo $this->headLink(); ?>

<?php echo $this->headStyle(); ?>

<?php echo $this->headScript(); ?>

</head>
<body>    
<div class="container-fluid">
<div class="row-fluid">
    <div class="span8" id="main">
        <div class="row"><div class="span8">&nbsp;</div></div>
        <div class="row">
            <div class="span7 offset1"><?php echo $this->layout()->content; ?></div>
        </div>
    </div>
    <div class="span3" id="sidebar">
        <div class="row"><div class="span4">&nbsp;</div></div>
        <div class="row">
            <div class="span3">
                <h3><?php echo $this->translate('demos.change.theme')?></h3>
            </div>
            <div class="span3 offset1">
                <ul class="thumbnails">
                    <li class="span2">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/160x120" alt="">
                        </a>
                    </li>
                    <li class="span2">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/160x120" alt="">
                        </a>
                    </li>
                    <li class="span2">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/160x120" alt="">
                        </a>
                    </li>
                    <li class="span2">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/160x120" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>