<?php echo $this->doctype('HTML5'); ?>

<html>
<head>
<META http-equiv="Content-Type" Content="text/html; charset=UTF-8">
<?php echo $this->headTitle(); ?>

<?php echo $this->headLink(); ?>

<?php echo $this->headStyle(); ?>

<?php echo $this->headScript(); ?>

</head>
<body  onload="prettyPrint()">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="/" class="brand"><?php echo $this->translate('site.name');?></a>
			<?php echo $this->navigation()->bootstrapmenu(null, array('ulClass' => 'nav','onlyActiveBranch'=>true, 'renderParents'=>true,'maxDepth'=>1))?>
		</div>
	</div>
</div>
<div class="container" id="content">
<?php echo $this->layout()->content; ?>
</div>
<div class="container">
    <div class="row">
        <div class="span12">@@copyright@@ &copy; @@version@@</div>
    </div>
</div>
</body>
</html>