<h1>Documentation</h1>
<h2>Fonctionnalités</h2>
<ul>
	<li>Liste des livres / Mosaiques (pas de rechargement de page</li>
	<li>Afficher les livres d'un author (liste/mosaique)</li>
	<li>Afficher les livres par genre (liste/mosaique)</li>
	<li>Ajouter / Modifier / Supprimer un livre</li>
	<li>Ajouter / Modifier / Supprimer un genre</li>
	<li>Ajouter / Modifier / Supprimer un livre</li>
	<li>Rechercher un livre
		<ul>
			<li>En liste</li>
			<li>En Mosaique</li>
		</ul>
	</li>
	<li>Afficher la liste des genres</li>
	<li>Afficher la liste des auteurs</li>
	<li>Version Mobile ?</li>
	<li>Ordonner les listes (tri sur les colonnes)</li>
</ul>
<h2>Comment Ajouter une implementation ?</h2>
<ul>
<li>Ecrire la documentation</li>
<li>
	<h3>Ecrire la démo</h3>
	<p>Décrire les fonctionnalités : Liste des livres</p>
</li>
</ul>
<h2>Comment Ajouter un theme ?</h2>