<h2>Mes idées et notes (ou remarques) </h2>
<p>Ce site, doit montrer comment mettre utiliser différents
	frameworks JavaScript.</p>
<p>
	Le principe que je voudrais voir en place est rajouter dans le
	répertoire <strong>public/demos</strong> un sous répertoire qui
	contient les fichiers (ou répertoires) suivants :
</p>

<ul>
<li>Il peut y avoir plusieurs implémentation du même framework !</li>
<li>On affiche la liste !</li>
<li>On affiche les menus !</li>
<li>On affiche les formulaires (dans des templates)</li>
<li>On peut aussi créer des méthodes dans les api pour récupérer les formulaires !</li>
<li>Dans la sidebar, il faut pouvoir changer de theme !</li>
<li>Tout le texte doit être affiché (ou mis dans un json) pour la gestion des langues</li>
<li>Pour l'ajout de demonstration, voir comment mettre en place un truc dans github, qui lors de publication d'un repo, l'aaplication recoit du le infos.json et je regarde si je peux importer le code du gars. Je doit passer du jslint (ou un truc proche) et du test unitaire ... pour voir si tout est ok et si oui j'importe et je déploie ! <p class="alert alert-critical">Ca va etre chaud de faire la validation sans intervention humaine (voir plus bas ce qu'il faut interdir !</p></li>
<li>Qui fourni le js du framework ? <strong>moi</strong> mais il faut que je les ai tous ? ou <strong>le gars</strong> qui fait l'implémentation ?</li>
<li>Mettre en place un kit de développement : un fichier HTML avec le CSS par défaut.</li>
<li><strong>Moi je ne met aucun JS !</strong></li>
<li>Le js du gars doit contenir certaines fonctions (méthodes) dont une d'initialisation!</li>
<li><strong>Le gars ne doit pas créer de HTML (il doit tout récupérer) !</strong></li>
<li>Il faut trouver un truc qui ne change pas le css de la page (analyse du code source css)</li>
<li>Dans la vérification du Js il faut interdire ou vrifier : 
    <ul>
        <li><h3>Empecher le changement d'URL de la page</h3>
            <ul>
                <li>window.location.href : <p class="alert alert-info">Je peux proposer un fmwk pour modifier le hashtag de l'url</p></li>
                <li>Utilisation d'urls utilisable avec des fmwk <p class="alert alert-info"> Rechercher dans le js des http://(domaine) (autre que mon domaine) mais voir s'il n'y a pas d'autres moyen de chnager l'url, style avec jquery !</p></li>
                
            </ul>
        </li>
        <li><h3>Empécher la modification ud CSS de la page</h3>
            <ul>
                <li>$('').css()<p class="alert alert-info">Parser le code JS (voir commentil faut faire avec d'autres fmwk que jquery</p></li>
                <li>element.style<p class="alert alert-info">Parser le code JS</p></li>
            </ul>
        </li>
        <li><h3>Interdire la création de certains éléments</h3>
            <p class="alert alert-success">iframe, img, ... voir tous !</p>
        </li>
    </ul>
    
</li>
<li>Pour la gestion des themes CSS, ils doivent tous utiliser <strong>less</strong> 
</ul>
<ul>
	<li>infos.json
		<p class="alert alert-info">Fichier de description de
			l'implémentation ... doit contenir certaines informations : nom,
			description, auteur, email, url, framework utilisé (ou un tableau), la version du framework</p>
		<p class="alert alert-error">
			<strong>Attention</strong> Il ne faut pas permettre l'accés direct
			(depuis d'autres sites) au fichier !
		</p>
	</li>
	<li>documentation/
		<p class="alert alert-info">Le répertoire de la documentation de
			l'implémentation, il faut décrire comment le framework a été utlisé,
			pourquoi le code a été fait comme ça ...
		</p>
		<p class="alert alert-error">
			<strong>Attention</strong> Il ne faut pas permettre l'accés direct au
			repertoire !
		</p>
	</li>
	<li>script.js<p class="alert alert-info">
		Pour charger plusieurs fichier, utiliser une librairie de chargement
		JavaScript (celle de google ou autre ...).<br /> Faire une
		documentation sur comment charger des fichiers Javascript et executer
		du code ...(un peu à la yepnop ...)
	</p>
	<p class="alert alert-error">
		<strong>RGO 09/07/2012 23:30 : </strong> j'aime finalement pas cette idée ... je préfere l'idée que les fmwk sont ajoutés par moi ! 
	</p>
	</li>
	

	<li>style.css
		<p class="alert alert-info">
			Pour insérer plusieurs fichiers, utiliser <strong>@import</strong> !
		</p>
		<p class="alert alert-error">
			<strong>RGO 09/07/2012 23:30 : </strong> on ne touche pas au CSS ! 
		</p>
	</li>
	<li>images/
		<p class="alert alert-info">Les images liées à l'implémentation
			(normalement pas nécesaire ...);</p>
		<p class="alert alert-error">
			<strong>RGO 09/07/2012 23:30 : </strong> on ne touche pas aux images ! (peut etre seulement le logo du gars) 
		</p>
	</li>
</ul>